name: Deploy to Raspberry Pi

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build frontend
        working-directory: frontend
        run: |
          npm install
          node ./node_modules/vite/bin/vite.js build

      - name: Prepare Go modules
        run: |
          go mod tidy
          go mod download

      - name: Build Go backend
        run: |
          CGO_ENABLED=0 go build -o arcballistics main.go

      - name: Stop, deploy and start service
        run: |
          sudo systemctl stop arcballistics
          sleep 1
          sudo cp arcballistics /home/edo/arc-ballistics/arcballistics
          sudo systemctl start arcballistics
