name: Deploy to Raspberry Pi

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build frontend
        working-directory: frontend
        run: |
          cd frontend
          npm install
          chmod -R +x node_modules/.bin
          npm run build

      - name: Build Go backend
        run: |
          CGO_ENABLED=0 go build -o arcballistics main.go

      - name: Deploy binary
        run: |
          cp arcballistics /home/edo/arc-ballistics/arcballistics

      - name: Restart service
        run: |
          sudo systemctl restart arcballistics
